@import ../components/colors

.blog-post
    .title
        color: $site-primary-darker-color

    .tags-container h4
        color: $site-primary-color

    .youtube-title-image
        width: 100%

    .tags-container
        margin-top: 2rem
        
        .taglist .tag
            background-color: $site-primary-darker-color
    
    .video-container
        position: relative
        width: 100%
        height: 0
        padding-bottom: 56.25%
    
        .video
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
